---
import Link from "./Link.astro";
type Props = {
  "aria-label"?: string;
  href: string;
  gradient?: boolean;
  class?: string;
  newTab?: boolean;
  delay?: number;
};

const {
  delay,
  href,
  newTab,
  gradient,
  class: className,
  "aria-label": ariaLabel,
} = Astro.props;

const url = new URL(Astro.request.url);
const active = url.pathname === href || url.pathname === `${href}/`;
---

<li class:list={[className, "item"]}>
  <Link
    aria-label={ariaLabel}
    href={href}
    active={active}
    animateFontColor={gradient}
    target={newTab ? "_blank" : ""}
  >
    <slot />
  </Link>
</li>

<style define:vars={{ delay }}>
  @keyframes slideIn {
    from {
      transform: translateY(2rem);
    }
    to {
      transform: translateY(0);
    }
  }

  .item {
    margin-right: 0.5rem;
    display: flex;
    transform: translateY(2rem);
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
    animation-fill-mode: forwards;
    animation-name: slideIn;
    animation-delay: calc(var(--delay) * 0.04s);
  }

  :global(html:not([data-initial-load="true"])) .item {
    transform: translateY(0);
    animation: none;
  }

  .item:last-of-type {
    margin-right: 0;
  }
</style>
