---
import Link from "./Link.astro";
type Props = {
	"aria-label"?: string;
	href: string;
	gradient?: boolean;
	class?: string;
	newTab?: boolean;
};

const { href, newTab, gradient, class: className, "aria-label": ariaLabel } = Astro.props;

const url = new URL(Astro.request.url);
const active = url.pathname === href || url.pathname === `${href}.html`;
---

<li class:list={[className, "item"]}>
  <Link
    aria-label={ariaLabel}
    href={href}
    active={active}
    animateFontColor={gradient}
    target={newTab ? "_blank" : ""}
  >
    <slot />
  </Link>
</li>

<style >
  .item {
    display: flex;

    ::global(a) {
      padding: .3rem;
    }
  }

  .item:last-of-type {
    margin-right: 0;
  }
</style>
